<!DOCTYPE html>
<html>
    <head>
      <title>Help</title>
      <link rel="icon" href="/img/weather.png">
      <link rel="stylesheet" href="./css/styles.css" >
    </head>
    <body>
     
      <div class="main-content">
         <!--to include a partials's .hbs inside this file type the downward code inside bracket and arrow with partials 
      file name, without path-->
        {{>header}}
        <p>{{helptext}}</p>
        
      </div>
        {{>footer}}
        

    </body>
</html>