<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a> 
     <a href="/help">Help</a>
     <!--here in above href we only need to add the same values of the links we used in app.get() method's parameter,
     no need to add adrress, it will automatically add them-->
</header>
